<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-icons.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</head>
<body>
<div class="container-fluid">
    <h1><i class="bi bi-card-checklist"></i>&nbsp;&nbsp;This is my test page!</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-outline-primary" id="api">API Test</button>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $('#api').click(function(){
            $.post('http://localhost/api/auth/get_token', {grant_type:'password', 'username':'admin','password':'Sims2022$'}, function(data){
				alert(data.code)
				alert(data.message)
				if(data.code == 200){
					alert(data.access_token)
				}
			}, 'json')
        })
    })
</script>
</html>