<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calendar.min.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/calendar/underscore-min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/calendar/calendar.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/calendar/zh-CN.js')}}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-1">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#calendar').calendar(
            {
                tmpl_path: "/tmpls/",
                language: 'zh-CN',
				events_source: function () { return []; }
            }
        )
    })
</script>
</body>
</html>